services:
  backend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: backend/Dockerfile
      args:
        - BACKEND_PORT=${BACKEND_PORT}
    ports:
      - "${BACKEND_PORT}:8000"
    environment:
      PYTHONUNBUFFERED: "1"
      BACKEND_PORT: ${BACKEND_PORT}
      BACKEND_HOST: ${BACKEND_HOST}
      BACKEND_DOMAIN: ${BACKEND_DOMAIN}
      ALLOWED_ORIGINS: "${ALLOWED_ORIGINS}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${BACKEND_PORT}/" ]
      interval: 30s
      timeout: 10s
      retries: 3

  frontend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_WS_BASE_URL: ${VITE_WS_BASE_URL}
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

networks:
  default:
    name: leapfrog_default
