#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  min-height: 800px;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.frog {
  width: 64px;
  height: 64px;
  position: absolute;
  image-rendering: pixelated;
}

.eyes {
  background-image: url("/tummy_and_eyes.png");
  /* 8 frames = 8 steps */
  animation: breathe 2s steps(8) infinite;
}

.eyes-sleeping {
  background-image: url("/tummy_and_eyes_sleeping.png");
  /* 8 frames = 8 steps */
  animation: breathe 2s steps(8) infinite;

}

.body-mask {
  mask-image: url("/body_mask.png");
  /* 8 frames = 8 steps */
  animation: breathe-mask 2s steps(8) infinite;
}

.body-mask-sleeping {
  mask-image: url("/body_mask_sleeping.png");
  /* 8 frames = 8 steps */
  animation: breathe-mask 2s steps(8) infinite;
}

@keyframes breathe {
  from {
    background-position: 0px;
  }

  to {
    background-position: -512px;
  }
}

@keyframes breathe-mask {
  from {
    -webkit-mask-position: 0px 0px;
    mask-position: 0px 0px;
  }

  to {
    /* Moves the mask to the last frame */
    -webkit-mask-position: -512px 0px;
    mask-position: -512px 0px;
  }
}